<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
    <style>
body {
    font-size: 20px
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 20px;
}

table td {
    min-width: 100px;
}

    table td:first-child {
        min-width: 400px;
    }

thead {
    text-align: left;
}

.centered-item {
    text-align: center;
    margin: 10px auto;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}

    </style>
</head>

<body>

    <div class="centered-item">
        <h1>OneMillion</h1>
    </div>

    <div class="centered-item">
        <a href="#">Members</a>

        <a href="#">Profile</a>
    </div>

    <div class="content">
        <a href="{{ url_for("topic_add") }}">Create</a>

        <table>

            <thead>
                <tr>
                    <th>
                        Title
                    </th>

                    <th>
                        Edit
                    </th>

                    <th>
                        Delete
                    </th>
                </tr>
            </thead>

            <tbody>
            {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ url_for("topic_show", id = post.id) }}"> {{post.title}} </a>
                </td>
            
                <td>
                    <a href="{{ url_for("topic_update", id = post.id) }}">edit</a>
                </td>
            
                <td>
                    <a id="delete" href="{{ url_for("topic_delete", id = post.id) }}"> delete </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="footer">
       <h4> Done by: Ahmed Hassan </h4>
     </div>
    
    
</body>

</html>

<script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>

<script>

<script>
    $(function ()
  {
      $("#delete").click(function (event)
      {
          event.preventDefault();
          $.ajax({
              type: “DEL”,
              url: $(this).attr(‘href’),
              success: function (response)
              {
                  alert(“deleted topic successfully !”);
              }
          });
      });
  });
</script>



